.arrow-up {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    right: 25px;
    background-color: #262350 ;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    /* background: #262350 url('../../pic/arrow-up.png') center/contain no-repeat; */
    cursor: pointer;
}
