.logo {
    background: url('../../pic/logo.png') center/contain no-repeat;
}
.yellow {
    color: #fbc407;
}
.link:before {
    content: "";
    position: absolute;
    height: 1.5px; 
    width: 0;
    background-color: white;
    bottom: -3px;
    right: 0;
    transition: 300ms all;
}
.link:hover:before {
    width: 100%;
    left: 0;
}