.header {
    background: #262350;
    padding-top: 13px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1200px;
    height: 85px;
    z-index: 1;
}
.header__link {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 27px;
    font-family: 'Roboto';
    font-weight: bolder;
    position: relative;
}
.header__nav {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}
.header__logo {
    padding: 35px;
    margin: 0 30px;
}